@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";
* {
  box-sizing: border-box; /* padding・borderを幅に含める */
}

body {
  background: #ccc; /* 背景色 */
  text-align: center; /* テキスト中央揃え */
  line-height: 1; /* 行間リセット */
}

a {
  text-decoration: none; /* 下線を消す */
}

a:hover {
  opacity: 0.8; /* ホバー時に半透明 */
} 

img {
  max-width: 100%; /* 親の幅に合わせて縮小 */
  vertical-align: middle; /* 行内での画像のズレを解消 */
}

header,
footer {
  background: white;
  padding: 20px;
}

main {
  color: white;
}

section {
  width: 900px;
  margin: auto;
}

section + section {
  margin-top: 100px;
}

section p {
  width: 80%;
  margin: auto;
  line-height: 3;
}

h2 {
  font-size: 40px;
  margin-bottom: 0.8em;
  letter-spacing: 0.5em; /* 文字間隔 */
}

/*==============================*/
/*          #first-view         */
/*==============================*/

#first-view {
  width: 100%;
  margin-bottom: 120px;
}

#first-view img {
  width: 100%;
}

/***** .btn（詳細ボタン） *****/
.btn {
  display: block;  /* ブロック要素化 */
  background: white;
  border: 4px solid #212121;
  color: #212121;
  width: 400px;
  padding: 20px 0;
  font-size: 20px;
  margin: 40px auto 0;
  position: relative; /* 擬似要素配置の基準 */
}

/* 三角形 */
.btn::before {
  content: ""; /* 擬似要素表示 */
  position: absolute; /* 絶対配置 */
  top: 0;
  bottom: 0;
  left: 1em;
  margin: auto;
  width: 0;
  height: 0;
  border: 0.5em solid transparent; /* 透明ボーダーで三角形の形を作る */
  border-left: 1em solid #212121; /* 左方向の三角形を表示 */
}

/*==============================*/
/*           #product           */
/*==============================*/

.imgs {
  display: flex;
  flex-wrap: wrap; /* 折り返し */
  width: 860px;
  margin: 40px auto 0;
}

.imgs img:nth-of-type(n + 2) {
  margin-left: 20px; /* 2枚目以降は左余白 */
}

.imgs img:nth-of-type(n + 5) {
  margin-top: 20px; /* 5枚目以降は上段と間隔 */
}

.imgs img:nth-of-type(4n + 5) {
  margin-left: 0; /* 5・9・13枚目などの左余白リセット */
}

/*==============================*/
/*            #access           */
/*==============================*/

#access {
  width: 100%;
}

.gmap {
  height: 500px;
  margin-top: 80px;
  overflow: hidden; /* はみ出しを隠す */
}

.gmap iframe {
  width: 100%;
  height: 100%;
}